input {
  background: antiquewhite;
  color: rgb(7 2 18);
  border: 0;
  height: 1.8rem;
  padding: 0 calc(1.8rem * 0.5);
  border-radius: calc(1.8rem * 0.3);
  box-shadow: 0 0 2rem rgb(0, 0, 0, 20%);
  margin-top: 15px;
}
textarea {
  background: antiquewhite;
  color: rgb(7 2 18);
  width: 175px;
  border: 0;
  height: 2.8rem;
  padding: 0 calc(0.8rem * 0.5);
  border-radius: calc(0.8rem * 0.3);
  box-shadow: 0 0 2rem rgb(0, 0, 0, 20%);
  margin-top: 15px;
}

select {
  background: antiquewhite;
  color: rgb(7 2 18);
  width: 175px;
  border: 0;
  height: 1.8rem;
  padding: 0 calc(0.8rem * 0.5);
  border-radius: calc(0.8rem * 0.3);
  box-shadow: 0 0 2rem rgb(0, 0, 0, 20%);
  margin-top: 15px;
}

.fill {
  margin-left: 5px;
  height: 30px;
  letter-spacing: 1px;
  padding: 1px 50px 1px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.fill::after {
  content: "";
  background-color: #9bc86a;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.divBut {
  display: flex;
  padding-left: 20px;
  margin-top: 65px;
}

.staticinfo {
  display: flex;

  border-radius: 15px;
  margin: 10px;

  width: 250px;
  height: 50px;
}

.inf {
  margin-left: 20px;
}

.comment {
  border: 2px solid #9bc86a;
  width: 720px;
  height: 280px;
  border-radius: 15px;
  background-color: azure;
}

#img {
  width: 100px;
  margin-left: 20px;
  border-radius: 10px;
}

.NameMessage {
  margin-top: 5px;
  margin-left: 15px;
}

#sp1 {
  color: crimson;
  font-weight: 900;
  text-decoration: underline;
}

#img2 {
  width: 100px;
  margin-left: 40px;
  border-radius: 10px;
  margin-top: 10px;
}
#img4 {
  width: 100px;
  margin-left: 40px;
  border-radius: 10px;
  margin-top: 10px;
}
