* {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
  display: inlineBlock;
  margin-left: -40px;
}
li:hover {
  background: rgb(235, 233, 233);
}

input[type="radio"] {
  display: none;
  max-width: 105px;
  padding-left: 30px;
}
ul {
  border: 1px solid;
  width: 152px;
  margin-top: 3px;
  margin-left: 40px;
  max-width: 115px;
}
img {
  height: 10px;
  width: 20px;
  margin-bottom: -3px;
  padding-right: 10px;
}
li img {
  padding: 2%;
}

.phoneInfoFlag {
  position: absolute;
  margin: 3px 3px;
}

.phoneInputImg {
  float: right;
}

.phoneInputCode {
  float: right;
}

.phoneInputValue {
  padding-left: 5px;
}

input[type="tel"] {
  padding-left: 40px;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
